<section class="api-description">
    <p>
        This is a web service used to retrieve marc records data from
        University of Illinois Library given a Bib Id or MMS ID.
    </p>
    <p>
        The URL format is as follows:
        <code>/api/record?{query}</code>.
    </p>
    <p>
        This will retrieve a MARC Record corresponding to the given
        identifier query.
        The identifier in the query can be one of the following:
    </p>
    <dl class="identifier-list">
        <dt>Bib ID</dt>
        <dd>
            <p>
                This was the most common way to retrieve a MARC record
                until the switch to ALMA and focusing on MMS ID.
            </p>
            <p>Format: <code>mms_id={id}</code></p>
        </dd>
        <dt>MMS ID</dt>
        <dd>
            <p>Identifier assigned by ALMA. This is now the default.</p>
            <p><code>bib_id={id}</code></p>
        </dd>
    </dl>
</section>

<section class="examples">
    <h2>Here are some examples:</h2>
    <div class="example-list">
        <section class="example">
            <h3>Retrieve records based on a Bib ID</h3>
            <ul>
                <li>
                    <a href="{{ url_for('record_api', bib_id=100) }}"><code>{{ url_for("record_api", bib_id=100) }}</code></a>
                </li>
                <li>
                    <a href="{{ url_for('record_api', bib_id=12345) }}"><code>{{ url_for("record_api", bib_id=12345) }}</code></a>
                </li>
            </ul>
        </section>
        <section class="example">
            <h3>Retrieve records based on an MMS ID</h3>
            <ul>
                <li>
                    <a href="{{ url_for('record_api', mms_id=9910012205899) }}"><code>{{ url_for("record_api", mms_id=9910012205899) }}</code></a>
                </li>
            </ul>
        </section>
    </div>
</section>
