<!DOCTYPE html>
<html lang="en">
<head>
<title>Get Marc API</title>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}"/>
</head>
<body>
<main class="page">
    <header class="page-header">
        <h1>Get Marc API</h1>
        <p class="page-summary">API for retrieving University of Illinois Library marc records</p>
    </header>
    <section class="page-content" aria-label="API information">
            {% include 'info.html' %}
    </section>
</main>
</body>
</html>
