<!DOCTYPE html>
<html lang="en">
<head>
<title>Get Marc API</title>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<script src="{{ url_for('static', filename='main.js') }}"></script></head>
</head>
<body>
<main role="main" class="container-fluid">
    <section class="container">
        <h1 class="cover-heading">Get Marc API</h1>
        <p class="lead">API for retrieving University of Illinois Library marc records</p>
        <p>
            {% include 'info.html' %}
        </p>
    </section>
</main>
<header>
</header>
</body>
</html>
