# License file
# include LICENSE

# README and the files it references
include README.rst
include README.md

# Tox configuration setting
include tox.ini

# Pytest tests
recursive-include tests *.py
recursive-include getmarcapi/templates *
recursive-include src *

include package.json package-lock.json webpack.config.js
