bandit
build
coverage
devpi-client<6.0
flask
flake8
lxml-stubs
mypy
paramiko
pydocstyle
pylint
pytest
sphinx
sphinxcontrib.spelling
tox
typing-extensions;python_version<"3.8"
uiucprescon.getmarc2>=0.1.1
