bandit
build
coverage
devpi-client
flask
flake8
lxml-stubs
mypy
paramiko
pydocstyle
pylint
pytest
sphinx
sphinxcontrib.spelling
tox
twine
typing-extensions;python_version<"3.8"
uiucprescon.getmarc2>=0.1.3
wheel
