name: Build and Deploy (Docker Linux) - Development
on:
  workflow_dispatch:
  push:
    branches:
      - 61-add-traefik-config

env:
  REMOTE_HOST: containers-dev.library.illinois.edu
  REMOTE_USER: container-user
  COMPOSE_FILE: docker-compose-traefik.yml
  REMOTE_PATH: /home/container-user/getmarc-dev

  #Environment Specific
  FQDN: getmarc-dev.library.illinois.edu

jobs:
  deploy:
    runs-on: [self-hosted, linux]
    environment:
      name: development
      url: https://${{ env.FQDN }}
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v2

      - name: Make api.cfg file
        run: |
          echo "[ALMA_API]" > ./api.cfg
          echo "API_DOMAIN=${{ vars.API_DOMAIN }}" >> ./api.cfg
          echo "API_KEY=${{ secrets.API_KEY }}" >> ./api.cfg

      - name: rsync deployments
        uses: burnett01/rsync-deployments@5.2
        with:
          switches: -avzr --delete --exclude public/system/imports
          path: .
          remote_path: "${{ env.REMOTE_PATH }}"
          remote_host: "${{ env.REMOTE_HOST }}"
          remote_user: "${{ env.REMOTE_USER }}"
          remote_key: ${{ secrets.DOCKER_SSH_PRIVATE_KEY }}

      - name: Update containers
        uses: fifsky/ssh-action@master
        with:
          command: |
            cd "${{ env.REMOTE_PATH }}"
            docker compose -f "${{ env.COMPOSE_FILE }}" build --no-cache
            docker compose -f "${{ env.COMPOSE_FILE }}" up --force-recreate --pull always -d
          host: "${{ env.REMOTE_HOST }}"
          user: "${{ env.REMOTE_USER }}"
          key: "${{ secrets.DOCKER_SSH_PRIVATE_KEY }}"
